// .header {
//   text-align: right;
//   // align-content: flex-end;
//   // justify-content: right;
// }

// .logo {
//   font-weight: bold;
//   color: whitesmoke;
//   font-size: 1.5em;
// }

// nav {
//   justify-self: center;
//   background: transparent;
//   width: max-content;
//   // align-content: space-between;
//   // justify-content: center;


//   ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//     background-color: transparent;
//     color: tan;



//     li {
//       float: left;

//       a {
//         padding: 1.5em;
//         text-transform: uppercase;
//         font-size: 1.5em;
//         // justify-content: center;
//         // align-content: center;

//         &:hover {
//           background: lightsalmon;
//           border-radius: 3em;
//         }
//       }
//     }
//   }
// }



header {
  background: transparent;

  .logo {
    font-weight: bold;
  }

  nav {
    justify-self: right;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        float: left;

        a {
          padding: 1.5em;
          text-transform: uppercase;
          font-size: 1em;

          &:hover {
            background: lightsalmon;
            border-radius: 3em;
          }
        }
      }
    }
  }
}
